body{
    background: black;
    color: white;
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
}

header{
    width: 20%;
    min-width: 200px;
    height: 30vh;
    min-height: 200px;
    background: lawngreen;
}

#content{
    width: 80%;
    height: 100vh;
    background: #a49184;
}

