body{
    background: darkgreen;
    color: white;
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
    font-family: 'Quicksand', sans-serif;
}

header{
    width: 20%;
    min-width: 200px;
    height: 30vh;
    min-height: 200px;
    background: lawngreen;
}

#content{
    display: flex;
    flex-direction: column;
    padding: 1%;
    width: 80%;
    height: 100vh;
    background: #a49184;
}

section{
    border: 1px solid cadetblue;
    background: white;
    color: brown;
    margin: 5px;
}

